 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/styles.css"> 
    <link rel="stylesheet" href="/css/playlist-form.css">
    <link rel="stylesheet" href="/css/navbar.css">
  <title>Document</title>
</head>
<body>
<%- include('../partials/_navbar', { user: user, playlists: playlists }) %>


<div class="playlist-form-container">
  <h2>Create Playlist</h2>
  <form action="/playlists" method="POST" class="playlist-form">
    <label for="name">Playlist Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="description">Description:</label>
    <textarea id="description" name="description"></textarea>

    <div class="switch-container">
      <label for="isPublic">Public</label>
      <label class="switch">
        <input type="checkbox" id="isPublic" name="isPublic">
        <span class="slider"></span>
      </label>
    </div>

    <div class="switch-container">
      <label for="isCollaborative">Collaborative</label>
      <label class="switch">
        <input type="checkbox" id="isCollaborative" name="isCollaborative">
        <span class="slider"></span>
      </label>
    </div>

    <button type="submit">Save Playlist</button>
  </form>
</div>

<%- include('../partials/_footer') %>
</body>
</html>

